body{
    background: #fff;
    margin: 15px;
}

/* INDEX.PHP */

.index--title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bookmark--button{
    margin-bottom: 15px;
}

th, td{
    border: none;
}

.btn--edit{
    color: rgb(228, 150, 23);
    font-size: 20px;
    
}

.btn--delete{
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

h2{
    font-size: 40px;
}

.btn.btn-success{
    padding:15px;
}

.add--categorie{
    margin-bottom: 100px;
}

/* CREATION.PHP */

.a, span{
    color: ff;
}

.create-title{
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.group--form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        border-radius: 3px;
        padding: 25px;
        font-size: 12px;
        width: 60vw;    }

.formulaire{
    margin-bottom: 15px;
}

.checkbox{
    padding: 0;
}

label{
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
}

