body{
    background: #fff;
    margin: 15px;
}

/* INDEX.PHP */

td{
    background-color: #fff;
}




/* CREATION.PHP */

.a, span{
    color: ff;
}

.create-title{
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.groupe-formulaire{
    margin-top: 50px;
}

.formulaire{
    margin-bottom: 15px;
}

label{
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.button-bookmark{
    margin: auto;
    font-size: 15px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}